<div id="<%= dom_id stuff %>">
  <p>
    <strong>ID:</strong>
    <%= stuff.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= stuff.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= stuff.description %>
  </p>
</div>
